.hero{
  text-align: center;
  margin-top: 70px;
  position: relative;
  z-index: 2;
}

.hero h2{
  color: white;
  font-size: 52px;
  line-height: 1.4;
}

.hero span{
  color: #8fc9ff;
}

@media (max-width: 760px) {
  .hero h2{
    font-size: 28px;
  }
}
