.hero{
  text-align: center;
  margin-top: 70px;
  position: relative;
  z-index: 2;
}

.hero h2{
  color: white;
  font-size: clamp(2.5rem, 4vw, 4.5rem);
  line-height: 1.2;
}

.hero span{
  color: #8fc9ff;
}

@media (max-width: 760px) {
  .hero{
    margin-top: 40px;
  }

  .hero h2{
    font-size: 2rem;
  }
}
